.icon-device-Gateway {
    background:url('../images/deviceIcons/Gateway.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-ContactSensor {
    background:url('../images/deviceIcons/ContactSensor.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-MotionSensor {
    background:url('../images/deviceIcons/MotionSensor.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-Button {
    background:url('../images/deviceIcons/Button.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-TemperatureAndHumiditySensor {
    background:url('../images/deviceIcons/TemperatureAndHumiditySensor.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-SingleSwitch {
    background:url('../images/deviceIcons/SingleSwitch.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-DuplexSwitch {
    background:url('../images/deviceIcons/DuplexSwitch.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-SingleSwitchLN {
    background:url('../images/deviceIcons/SingleSwitchLN.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-DuplexSwitchLN {
    background:url('../images/deviceIcons/DuplexSwitchLN.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-SingleButton86 {
    background:url('../images/deviceIcons/SingleButton86.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-DuplexButton86 {
    background:url('../images/deviceIcons/DuplexButton86.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-PlugBase {
    background:url('../images/deviceIcons/PlugBase.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-PlugBase86 {
    background:url('../images/deviceIcons/PlugBase86.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-MagicSquare {
    background:url('../images/deviceIcons/MagicSquare.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-SmokeDetector {
    background:url('../images/deviceIcons/SmokeDetector.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-NatgasDetector {
    background:url('../images/deviceIcons/NatgasDetector.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-ElectricCurtain {
    background:url('../images/deviceIcons/ElectricCurtain.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-ContactSensor2 {
    background:url('../images/deviceIcons/ContactSensor2.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-MotionSensor2 {
    background:url('../images/deviceIcons/MotionSensor2.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-Button2 {
    background:url('../images/deviceIcons/Button2.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-TemperatureAndHumiditySensor2 {
    background:url('../images/deviceIcons/TemperatureAndHumiditySensor2.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-WaterDetector {
    background:url('../images/deviceIcons/WaterDetector.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-Lock {
    background:url('../images/deviceIcons/Lock.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-AcPartner {
    background:url('../images/deviceIcons/AcPartner.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-Button3 {
    background:url('../images/deviceIcons/Button3.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-DuplexButton862 {
    background:url('../images/deviceIcons/DuplexButton862.png') no-repeat center center;
    background-size: 16px 16px;
}

.icon-device-VibrationSensor {
    background:url('../images/deviceIcons/Vibration.png') no-repeat center center;
    background-size: 16px 16px;
}